<!--
<section>
  <div class="container d-flex">
    <div class="d-flex flex-column justify-content-between text-center  left-menu">
      <div class="container-rabbit" >
        <img class="img-fluid rabbit" src="assets/images/rabbit.png">
      </div>
      <div class="container-bag" >
        <img class="img-fluid bag" src="assets/images/bag.png">
      </div>
      <div class="vl">dddd</div>
      <div class="container-circle" >
        <img class="img-fluid circle " src="assets/images/unchecked-circle.png">
      </div>
      <div class="vl"></div>
      <div class="container-search" >
        <img class="img-fluid search" src="assets/images/search.png">
      </div>
    </div>
    &lt;!&ndash;right menu&ndash;&gt;
    <div class=" d-flex flex-column right-menu" style="background-image: url('assets/images/pineapple.png');
    background-repeat: no-repeat; background-size: 1000px; background-position: left">
      <div class="d-flex justify-content-between head ">


        <div class="d-flex justify-content-between title">
          <div class="line">

          </div>
          <div>
            <p class="">Our products</p>
          </div>

        </div>
        &lt;!&ndash;end&ndash;&gt;
        <div class="d-flex flex-column fruits">
          <div class="line">

          </div>
          <div>
            <p class="">pineapples</p>
          </div>
          <div>
            <p class="">Strawberries</p>
          </div>
          <div>
            <p class="">Apples</p>
          </div>
          <div>
            <p class="">Citrus</p>
          </div>

        </div>
        &lt;!&ndash;end&ndash;&gt;
        <div class="d-flex flex-column legumes">
          <div class="line">

          </div>
          <div>
            <p class="">Cauliflowers</p>
          </div>
          <div>
            <p class="">Tomatoes</p>
          </div>
          <div>
            <p class="">Eggplants</p>
          </div>
          <div>
            <p class="">Carrots</p>
          </div>

        </div>
        &lt;!&ndash;end&ndash;&gt;
        <div class="d-flex flex-column social-network">
          <div>
            <img class="img-fluid bag" src="assets/images/twitter.png" height="30" width="30">
          </div>
          <div>
            <img class="img-fluid bag" src="assets/images/facebook.png" height="30" width="30">
          </div>
          <div>
            <img class="img-fluid bag" src="assets/images/instagram.png" height="30" width="30">
          </div>
          <div>
            <img class="img-fluid bag" src="assets/images/youtube.png" height="30" width="30">
          </div>

        </div>
      </div>
      &lt;!&ndash;end&ndash;&gt;
      <div class="sub-title">
        <div id="texting">
          <p>Our fruits<br/> & vegetables <br/> are <span>organic</span></p>

        </div>
      </div>

    </div>

  </div>

</section>
-->
<div class="corps">

  <div id="navbar">
    <div class="container">
      <div class="logo">
        <img id="rabbit" src="assets/images/rabbit.png" alt="rabbit">
      </div>
      <div class="icon-container ">
        <div class="bag">
          <i class="fa fa-briefcase"></i>
        </div>
        <span class="h-line"></span>
        <div class="dot flex-center-v-h" (click)="toggleMenu()">
          <img *ngIf="isMenuCollapsed" src="assets/images/circleRound.PNG"/>
          <span *ngIf="!isMenuCollapsed">X</span>

        </div>
        <span class="h-line"></span>
        <div class="search">
          <i class="fa fa-search"></i>
        </div>

      </div>
      <div class="footer flex-center-v-h">
        <span class="name-of-company">orga</span>bits
      </div>
    </div>
  </div>
<!-- right menu-->
  <div *ngIf="isShowingRightMenu" class="right-menu">
    <div class="head">
      <div class="title">
        <div class="">
         <span class="v-line"></span> <p class="">Our products</p>
        </div>

      </div>

      <div class="fruits">
        <div class="line">

        </div>
        <div class="">
          <p class="d-flex-title"><span class="v-line"></span> <span>pineapples</span></p>
        </div>
        <div>
          <p class="d-flex-title"> <span class="v-line"></span> <span> Strawberries </span></p>
        </div>
        <div>
          <p class="d-flex-title"> <span class="v-line"></span>  <span>Apples</span></p>
        </div>
        <div>
          <p class="d-flex-title"> <span class="v-line"></span>   <span> Citrus </span></p>
        </div>

      </div>

      <div class="legumes">
        <div class="line">

        </div>
        <div>
          <p class="d-flex-title"><span class="v-line"></span> <span>Cauliflowers</span></p>
        </div>
        <div>
          <p class="d-flex-title"> <span class="v-line"></span> <span>Tomatoes</span></p>
        </div>
        <div>
          <p class="d-flex-title">  <span class="v-line"></span> <span>Eggplants</span></p>
        </div>
        <div>
          <p class="d-flex-title"><span class="v-line"></span><span>Carrots</span></p>
        </div>

      </div>

      <div class="social-network">
        <div>
          <img class="img-fluid bag" src="assets/images/twitter.png" height="30" width="30">
        </div>
        <div>
          <img class="img-fluid bag" src="assets/images/facebook.png" height="30" width="30">
        </div>
        <div>
          <img class="img-fluid bag" src="assets/images/instagram.png" height="30" width="30">
        </div>
        <div>
          <img class="img-fluid bag" src="assets/images/youtube.png" height="30" width="30">
        </div>

      </div>
    </div>

    <div class="sub-title">
      <div id="texting">
        <p>Our fruits<br/> & vegetables <br/> are <span id="span" >organic.</span></p>
      </div>

    </div>
    <div class="lorem-ichum">
      <p id="lorem-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>
  <div class="discover">
    <p>Discover</p>
  </div>
</div>
<!-- right menu-->
<!--detail menu-->
<div *ngIf="!isShowingRightMenu" class="right-detail">
  <div class="head">
    <div class="title">
      <div class="">
        <span class="v-line"></span> <p class="">Our products</p>
      </div>

    </div>

    <div class="fruits">
      <div class="line">

      </div>
      <div class="">
        <p class="d-flex-title"><span class="v-line"></span> <span>pineapples</span></p>
      </div>
      <div>
        <p class="d-flex-title"> <span class="v-line"></span> <span> Strawberries </span></p>
      </div>
      <div>
        <p class="d-flex-title"> <span class="v-line"></span>  <span>Apples</span></p>
      </div>
      <div>
        <p class="d-flex-title"> <span class="v-line"></span>   <span> Citrus </span></p>
      </div>

    </div>

    <div class="legumes">
      <div class="line">

      </div>
      <div>
        <p class="d-flex-title"><span class="v-line"></span> <span>Cauliflowers</span></p>
      </div>
      <div>
        <p class="d-flex-title"> <span class="v-line"></span> <span>Tomatoes</span></p>
      </div>
      <div>
        <p class="d-flex-title">  <span class="v-line"></span> <span>Eggplants</span></p>
      </div>
      <div>
        <p class="d-flex-title"><span class="v-line"></span><span>Carrots</span></p>
      </div>

    </div>

    <div class="social-network">
      <div>
        <img class="img-fluid bag" src="assets/images/twitter.png" height="30" width="30">
      </div>
      <div>
        <img class="img-fluid bag" src="assets/images/facebook.png" height="30" width="30">
      </div>
      <div>
        <img class="img-fluid bag" src="assets/images/instagram.png" height="30" width="30">
      </div>
      <div>
        <img class="img-fluid bag" src="assets/images/youtube.png" height="30" width="30">
      </div>

    </div>
  </div>


</div>
<!--menu-->




