<section>
  <div class="container d-flex">
    <div class="d-flex flex-column justify-content-between text-center  left-menu">
      <div class="container-rabbit" >
        <img class="img-fluid rabbit" src="assets/images/rabbit.png">
      </div>
      <div class="container-bag" >
        <img class="img-fluid bag" src="assets/images/bag.png">
      </div>
      <div class="vl">dddd</div>
      <div class="container-circle" >
        <img class="img-fluid circle " src="assets/images/unchecked-circle.png">
      </div>
      <div class="vl"></div>
      <div class="container-search" >
        <img class="img-fluid search" src="assets/images/search.png">
      </div>
    </div>
    <!--right menu-->
    <div class=" d-flex flex-column right-menu" style="background-image: url('assets/images/pineapple.png');
    background-repeat: no-repeat; background-size: 1000px; background-position: left">
      <div class="d-flex justify-content-between head ">


        <div class="d-flex justify-content-between title">
          <div class="line">

          </div>
          <div>
            <p class="">Our products</p>
          </div>

        </div>
        <!--end-->
        <div class="d-flex flex-column fruits">
          <div class="line">

          </div>
          <div>
            <p class="">pineapples</p>
          </div>
          <div>
            <p class="">Strawberries</p>
          </div>
          <div>
            <p class="">Apples</p>
          </div>
          <div>
            <p class="">Citrus</p>
          </div>

        </div>
        <!--end-->
        <div class="d-flex flex-column legumes">
          <div class="line">

          </div>
          <div>
            <p class="">Cauliflowers</p>
          </div>
          <div>
            <p class="">Tomatoes</p>
          </div>
          <div>
            <p class="">Eggplants</p>
          </div>
          <div>
            <p class="">Carrots</p>
          </div>

        </div>
        <!--end-->
        <div class="d-flex flex-column social-network">
          <div>
            <img class="img-fluid bag" src="assets/images/twitter.png" height="30" width="30">
          </div>
          <div>
            <img class="img-fluid bag" src="assets/images/facebook.png" height="30" width="30">
          </div>
          <div>
            <img class="img-fluid bag" src="assets/images/instagram.png" height="30" width="30">
          </div>
          <div>
            <img class="img-fluid bag" src="assets/images/youtube.png" height="30" width="30">
          </div>

        </div>
      </div>
      <!--end-->
      <div class="sub-title">
        <div id="texting">
          <p>Our fruits<br/> & vegetables <br/> are <span>organic</span></p>

        </div>
      </div>

    </div>

  </div>

</section>
