/*
.left-menu{
  width: 100px;
  background-color: white;

  float: left;
}

.container{
  margin-top: 50px;
}
div.container-rabbit {
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  line-height: 50px;

}

.right-menu{

}
.bag {
  width: 50px;
  margin-top: 100px ;
}
.circle{
  margin-top: 100px ;
}
.container-circle{
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  line-height: 50px;
  margin-top: 100px ;


}
div.container-circle.img {
  width: 45px;
  height: 45px;

  transition: width 3s,height 3s;

}

div.container-circle.img:hover{
  height: 50px;
  width: 50px;
}
.search {
  margin-top: 100px ;
}

div.container-bag{
  margin-top: 100px;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}
div.container-search{
  margin-top: 100px;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}
.vl{
  text-align: center;
  justify-content: center;
  border-left: 6px solid yellow;

}
.right-menu{
  width: 960px;

}
div.pineapples#line{
  border-top: 6px solid yellow;

}
.head{
  display: flex;
  justify-content: space-between;
}
div.social-network.div{
  height: 30px;
  width: 30px;
}
.sub-title{
  justify-content: flex-start;
  top: 420px;
  position: absolute;left: 430px;
  color: yellow;
  font-size: 60px;

}
div.sub-title.sub#texting{


}
span{
  color: #39553A;
  opacity: 100%;
}

*/
html,body {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  background-color: #F7F8FA;
}

#navbar{
  height: 100%;
  width: 150px;
  background-color: #fff;
}

#navbar #rabbit {
  width: 69px;
  height: 57px;
  margin-top: 56px;
}

.logo{
  height: 270px;
}

#navbar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag {
  width: 20px;
  height: 18px;
}

  .dot{
  display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover{
     img {
       width: 50px;
       height: 50px;
     }
    }
    > img{
      width: 45px;
      height: 45px;
      transition: height 300ms ease, width 300ms ease ;

    }
    > span{
    font-size: 19px;
    }
  }

.flex-center-v-h{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container{
  display: flex;
  height: 539px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.h-line{
  width: 1px;
  height: 50px;
  background-color: #F3D145;
}
.v-line{
  width: 50px;
  height: 1px;
  background-color: #F3D145;
}

.footer {
  height: 270px;
  text-transform: uppercase;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font: normal normal bold 20px/28px "acumin-pro";
  letter-spacing: 0px;
}

  .name-of-company{
    color: #F1D145;
  }

  .corps{
    display: flex;
    flex-direction: row;
  }
  .right-menu{
    background-image: url('../../assets/images/pineapple.png');
    background-position: bottom left -200px;
    background-size: 1960px;
    background-repeat: no-repeat;

    width: 100%;

    margin-top: 5px;

  }
  .head{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-left: 150px;
    margin-top: 65px;
    top: 71px;
    left: 794px;
    width: 1080px;
    height: 165px;
    margin-bottom: 50px;
    opacity: 1
  }
  .title{
    top: 76px;
    left: 266px;
    width: 168px;
    height: 24px;
    text-align: left;
    font: normal normal bold 24px/29px Acumin Pro;
    letter-spacing: 1.8px;
    color: #3B573B;
    opacity: 1;
    div{
      margin-top: 20px;
      margin-left: 5px;

    }
  }
  .fruits{
    top: 71px;
    left: 794px;
    width: 120px;
    height: 165px;
    opacity: 1;
    div{
      margin-top: 20px;
      margin-left: 5px;

    }
  }
  .legumes{
    top: 71px;
    left: 1281px;
    width: 122px;
    height: 165px;
    opacity: 1;
    div{
      margin-top: 20px;
      margin-left: 5px;

    }
  }
  .social-network{
    top: 116px;
    left: 1839px;
    width: 21px;
    height: 21px;
    border-radius: 18px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div{
      margin-top: 20px;
      margin-left: 5px;

    }

  }
  .sub-title{
    top: 110px;
    left: 0px;
    margin-top: 150px;

    width: 1064px;
    height: 150px;
    text-align: left;
    font: normal normal 900 150px/130px Acumin Pro;
    letter-spacing: 7.5px;
    color: #FBD848;
    margin-left: 560px;
    #texting{
      margin-right: 100px;
      position: absolute;
      left: 520px;
    }

  }

div.lorem-ichum{
  top: 750px;
  left: 596px;
  width: 977px;
  height: 105px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.39;
  text-wrap: normal;
  margin-top: 280px;
  margin-left: 370px;
  font-weight:  bold;
  p.lorem-body{
    top: 800px;
    left: 635px;
    width: 900px;
    height: 26px;
    text-align: left;
    font: normal normal bold 12px/14px Acumin Pro;

    letter-spacing: 0.9px;
    color: #375238;
    opacity: 1;



  }
}
.discover{
  top: 916px;
  left: 596px;
  width: 208px;
  height: 38px;
  background: #F1D145 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;top: 885px;
  left: 520px;
  margin-right: 5px;
}
  #span{
    color: #39553A;
  }
  .fruits, .legumes, .social-network {
    margin-left: 100px;
  }
.d-flex-title{
  display: flex;
  justify-content: space-between;
}
